MONITORING_API_URL=

MONITORING_API_TOKEN=

VERIFY_SSL=False

DATA_SOURCE=monitoring

NETWORK_LOCATION_1_URL=
NETWORK_LOCATION_1_USERNAME=
NETWORK_LOCATION_1_PASSWORD=

NETWORK_LOCATION_2_URL=
NETWORK_LOCATION_2_USERNAME=
NETWORK_LOCATION_2_PASSWORD=